.icon {
  fill: $color1;

  &_size_1 {
    width: 15px;
    height: 15px;
  }

  &_arrow_left {
    transform: rotate(90deg);
  }

  &_arrow_up {
    transform: rotate(180deg);
  }

  &_arrow_right {
    transform: rotate(270deg);
  }

  &_color_2 {
    fill: $color2;
  }
}