@import '~normalize.css';
@import "vars";
@import "mixins";
@import "animate";
@import "display";
@import "fonts";
@import "icon";
@import "text";
@import "button";

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}