.text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
  text-decoration: none;
  font-weight: 400;
  color: $color1;

  padding: 0;
  margin: 0;

  &_weight_700 {
    font-weight: 700;
  }

  &_color_2 {
    color: $color2;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--link {
    cursor: default;
  }
}

@media (min-width: 1024px) {
  .text {
    &--link {
      cursor: pointer;
    }

    &--link:hover {
      text-decoration: underline;
    }
  }
}