PHP
doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
link(rel="icon" href="./assets/favicon.ico" type="image/x-icon")
title Webpack app
body

h1 Hello world!!!!

.js-db-block
  .js-db
    .js-db-trigger
      p trigger
    .js-db-content 
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, id.
  .js-db
    .js-db-trigger
      p trigger
    .js-db-content 
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, id.
  .js-db
    .js-db-trigger
      p trigger
    .js-db-content 
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, id.


a(href="" data-acnchor="home" class="button button-to-home")
  svg.svg
    use(href="#_sprite_arrow")